include mixins.pug
style
    include:scss resume.scss

header#heading
    .info
        h1 Shakir Uz Zaman
        span Software Engineer

        .links
            ul
                li
                    a(href='zaman.shakirdev@gmail.com', target='_blank') #[+i('at')] zaman.shakirdev@gmail.com
                li
                    a(href='tel:+8801738790641', target='_blank') #[+i('phone')] +8801738790641
                li
                    +i('map-marker')
                    |
                    | Dhaka, Bangladesh
            ul
                li
                    a(href='https://github.com/shakir-uz-zaman', target='_blank') #[+i('github')] github.com/shakir-uz-zaman
                li
                    a(href='https://www.linkedin.com/in/shakir-uz-zaman', target='_blank') #[+i('linkedin')] linkedin.com/shakir-uz-zaman
               

    .image
        img(src='./avatar.jpg', width=120, height=120)

main
    article#content
        +block('Summary')
            p I am focused and devoted. I am working with PHP and JavaScript last 2 years. I want to work with passioniate team members & want to work on exciting projects & technologies  to help my organization.
            //p I am a frontend developer with about 5 years experience working with clients/companies from around the world, providing javascript/frontend development. I help companies and agencies build standards-compliant and clean frontend foundations for fast, accessible and responsive websites and applications.
            //p I work with small and medium-sized businesses, design teams and agencies, building fast, responsive and usable frontends, with a strong focus on performance and UX.

        +block('Experience', false)
            +job("Full Stack Software Engineer", "Neural Semiconductor Ltd.", "http://neural-semiconductor.com", "7/2019 - Ongoing", "Dhaka, Bangladesh")
                p From planning about how to give life to a idea into a project, creating them from scratch was responsibility.
                //h4 Tools and technologies I used:
                //p Knockout.js, Browserify, Gulp, NPM, SCSS, Volt(Twig), Pug(Jade), React, Redux, Redux-Sagas, React-Native, and Git

                h4 Missions:
                ul
                    li Work along with other team members to publish magento VPS plugin into magento marketplace.
                    li With a strong focus creating the frontend of Asessment Center project & also contribute to the backend.
                    li Monitor Sheypoor site's performance and keep its page size below 300kB.

                h4 Main projects:
                ul
                    li Develop  Assessment Center project UI, frontend and communication with backend(Laravel, Blade, Mysql).
                    li Develop Assessment Center project Backend using REST api in laravel(Laravel, REST).
                    li Develop Employee management system frontend in React(React).

            +job("Software Engineer", "Sycorax Technology", "http://sycoraxtech.com/", "10/2018 - 06/2019", "Dhaka, Bangladesh")
                p Worked on Codeigniter framework to develop a system to use it for future projects.

                //h4 Tools and technologies I used:
                //p Angular.js, KendoUI, jQuery, HTML5, and CSS3

                //h4 Mission:
                //p Learn cutting edge frontend technologies of year, teach other team members, and use them to conduct projects.

                h4 Achivements:
                ul
                    li Worked with team members to develop an customize ERP for Pacific Furniture.
                    li Devloped a travel agency system with payment features to maintain their business.
                    li Develop a form-builder(like Google Forms) to create dynamic registration forms.
                    li Design and develop the new website's UI.
                h4 Missions: 
                    li Pacific ERP system (Codeigniter, JS, Mysql )
                    li Travel agency solution( Codeigniter,JS,Mysql )
                    //li Work on the SVG animations handled with JavaScript. Contribute a couple of SVG animation tools to fulfill our needs.

            //+job("Freelance Frontend Developer", "home", false, "2013 - 11/2014", "Isfahan, Iran")
                p While I was a college student, I started to do some freelance frontend projects.

                h4 Tools and technologies:
                p HTML5, CSS3, JavaScript, jQuery, Wordpress, IPB

                h4 Main focuses and projects:
                ul
                    li Create different themes for Wordpress/IPB/MyBB.

        //+block('Projects')
         

    aside#sidebar
        
        +block('Skills', false)
            +rateItem('<strong>OOP, PHP, Laravel, Codeigniter</strong>')
            +rateItem('<strong>JavaScript, ES6, MySQL</strong>')
            +rateItem('<strong>Data Structures, Algorithms</strong>')
            +rateItem('<strong>Git, Html, CSS</strong>')
        +block('Education', false)
            +rateItem('BSc in CSE, <strong>Rajshahi University of Engineering & Technology</strong>')

        +block('Portfolio',false)
            +rateItem('You can see all of my completed projects in my <strong><a href="https://shakir-uz-zaman.github.io/">portfolio</a></strong>')
        +block('Profile',false)
            +rateItem('<h5>Hackerrank<br/><small><a href="https://www.hackerrank.com/5huvo">https://www.hackerrank.com/5huvo</a></small><br>I tried to practice some SQL and some problems here. Currently working on Leetcode platform though</h5>')

            +rateItem('<h5>Leetcode<br/><small><a href="https://leetcode.com/user1008I/">https://leetcode.com/user1008I/</a></small><br>Recently started to practice my data structures & problem solving skills on leetcode platform</h5>')
        +block('Languages', false)
            +rateItem('English: Advanced', null)
            +rateItem('Bengali: Native', null)

        //- #repo
        //-     em Last Updated at :  15th February,2021
